
[submodule "Projekte/BRK-FileNetwork-Dateimanager/Vortraege/lib/deck.js-transition-cube"]
	path = Projekte/BRK-FileNetwork-Dateimanager/Vortraege/lib/deck.js-transition-cube
	url = git://github.com/mikeharris100/deck.js-transition-cube.git
[submodule "Projekte/BRK-FileNetwork-Dateimanager/Vortraege/lib/deck.js"]
	path = Projekte/BRK-FileNetwork-Dateimanager/Vortraege/lib/deck.js
	url = git://github.com/imakewebthings/deck.js.git
